*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: rgb(21, 21, 21);
  padding: 1rem;
  position: relative;
  color: white;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#cur-working-dir{
  color: rgb(13, 255, 0);
  margin-bottom: 1rem;
}

.top-bar div:first-child{
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.dir-files{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  width: 100%;
  max-height: 95%;
  overflow: auto;
}

.dir-files > div {
  height: max-content;
  padding: 1rem;
  border: 2px solid rgb(114, 114, 114);
  border-radius: 4px;
  cursor: pointer;
}

.is-dir{
  color: rgb(45, 45, 255);
}